---
name: CI

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  ci-data:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.fetch.outputs.result }}
    steps:
      - id: fetch
        uses: oxidize-rb/actions/fetch-ci-data@main
        with:
          stable-ruby-versions: |
            exclude: []
  ci:
    runs-on: ${{ matrix.os }}
    needs: ci-data
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        ruby: ${{ fromJSON(needs.ci-data.outputs.result).stable-ruby-versions }}
        include:
          - os: windows-latest
            ruby: mswin
          - os: "ubuntu-latest"
            ruby: jruby-9.4.3.0
          - os: "macos-latest"
            ruby: jruby-9.4.3.0
          - os: "windows-latest"
            ruby: jruby-9.4.3.0
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v4
        if: startsWith( matrix.ruby, 'jruby')
        with:
          distribution: 'temurin'
          java-version: '17'

      - uses: oxidize-rb/actions/setup-ruby-and-rust@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
          cargo-cache: true
          cache-version: v2

      - name: Run ruby tests
        run: bundle exec rake

      - name: Lint rust
        run: cargo clippy && cargo fmt --check

      - name: Test source gem
        shell: bash
        run: |
          bundle exec rake build
          gem install --verbose pkg/*.gem

          if ruby -roxi/test -e "puts Oxi::Test.hello('world!')" | grep "Hello, world!"; then
            echo "Success"
          else
            echo "Failure"
            exit 1
          fi
